.div1{
    text-align: center;
    font-family: 'Red Hat Display';
    font-weight: 650;
    color: black;
}

.div3{
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.div2{
    line-height: 2;
}
body{
    background-size: 150% 130%;
}

.h2{
    font-size: 1.9rem;
    width: 50%;
    margin-left: 20rem;
    color: black;
}
a{
    color: blue;
}
a:hover{
    color: #87CEEB;
}
.h1{
    width: 50%;
    margin-left: 20rem;
    color: black;
}