body{
    background-size: 150% 170%;
    font-family: 'Karla';
    font-weight: 600;
    padding-left: 2.5rem;
    color: black;
    background-color: white;
    margin: 5px;
}
.input1{
    height: 25px;
    width: 280px;
    margin-left: .5rem;
    font-family: 'Karla';
    font-size: medium;
    border-radius: 4px;
}
.L1{
    font-size: 1.7rem;
}
.L2{
    margin-left: .5rem;
    font-size: 16px;
}

.input2{
    height: 25px;
    width: 280px;
    border-radius: 4px;
    font-family: 'Karla'
}

.L3{
    font-size: 1.5rem;
}   
.L4{
    margin-left: .5rem;
}
.L5{
    margin-left: 8rem;
    font-size: 16px;
}
.COLLAPSE{
    font-size: 16px;
}
.No{
    margin-left: 3rem;
    font-size: 16px;
}
.Null{
    margin-left: 2.8rem;
    font-size: 16px;
}
.bin{
    font-size: 16px;
    margin-left: 2rem;
}
.input{
    width: 20px;
    height: 20px;
}
.Yes{
    font-size: 16px;
}
.N1{
    font-size: 16px;
}
.Y1{
    margin-left: 3rem;
    font-size: 16px;
}
.Y2{
    margin-left: 4rem;
    font-size: 16px;
}
.Y3{
    margin-left: 6rem;
    font-size: 16px;
}
.Y4{
    margin-left: 6rem;
    font-size: 16px;
}
.Btn{   
    background-color: rgba(225, 225, 225, 0.9);
    font-weight: bold;
    font-family: 'Karla';
    color: black;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
}
.Btn:hover {
    background-color: black;
    color: white;
}
hr{
    width: 25rem;
    margin-left: -1rem;
    border-top: 3px dashed #000;
}
span{
    border-right: 2px solid white;
    font-size: 24px;
    padding-right: 10.2rem;
    margin-left: 1.2rem;
}
p{
    margin-top: 0rem;
    background-color: #00008B;
    color: white;
    height: 29.1px;
}
.d2{
    line-height: 3;
    font-size: 16px;
}
.d1{
    line-height: 3;
    font-size: 16px;
}